@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair);
  --font-roboto: var(--roboto);
  --color-secondary-100: #513C06;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-5xl font-playfair leading-14 text-[#1F2933];
}

h2 {

}

h3, a {
  @apply font-serif tracking-widest text-[#513C06] text-sm font-normal
}

h4 {

}

h5 {

}


h6 {

}

p {
 @apply font-roboto text-xl text-secondary-100 leading-6
}


.content {
  mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-image: radial-gradient(circle at center, #000 10%, transparent 100%);
  mask-image: radial-gradient(circle at center, #000 65%, transparent 70%);
}

/* @media (width >= 48rem 768px) {
  .content {
  -webkit-mask-image: radial-gradient(circle at center, #000 10%, transparent 100%);
  mask-image: radial-gradient(circle at center, #000 40%, transparent 50%);

  }
} */


